body{
    background:white;
    font-family:Arial;
}

.topo{
    background:red;
    color:black;
}

.topo a{
    color:blue;
    text-decoration:underline;
}

.banner{
    background:gray;
}

.banner img{
    width:1200px;
}

.banner a{
    background:green;
    color:black;
}

.categoria{
    border:0;
}

.card{
    width:900px;
    border:0;
}

.card img{
    width:800px;
}

button{
    background:green;
    color:black;
}

input{
    width:500px;
}

footer{
    background:white;
    color:black;
}